<h2>{{ isEdit ? 'Editar Empresa' : 'Nova Empresa' }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>Nome:</label>
  <input formControlName="nome" />
  <div *ngIf="form.get('nome')?.invalid && form.get('nome')?.touched">Nome obrigatório</div>

  <label>CNPJ:</label>
  <input formControlName="cnpj" />

  <label>Endereço:</label>
  <input formControlName="endereco" />

  <button type="submit">{{ isEdit ? 'Salvar' : 'Cadastrar' }}</button>
  <button type="button" routerLink="/empresas">Cancelar</button>
</form>
